$main-color: #01acb6;
$gray-darker: #283545;
$gray-lighter: #5b6a88;
$black: #1c242e;
$white: #fff;
$blue: #0c51a3;
$gold: #f4ad03;
$gray-lightest: #e0e4e9;
$text-shadow-sea: 0 1px 1px #0a8194;
$text-shadow-gray: 1px 1px 0 #151c25;
